nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 857px) {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 47px;
    list-style: none;

    @media (max-width: 1132px) {
      gap: 30px;
    }

    @media (max-width: 958px) {
      gap: 20px;
    }

    @media (max-width: 913px) {
      gap: 10px;
    }

    li {
      a {
        text-decoration: none;
        color: #313a4b;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  .lang {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #dd264e;
    color: #fff;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 30px;
    cursor: pointer;

    @media (max-width: 1132px) {
      width: 25px;
      height: 25px;
      font-size: 6px;
    }
  }
}
